{% extends "base.html" %}

{% block title %}Produto {{ latest_question_list.nome }}{% endblock %}

{% block content %}
    <form action="/adicionar_carrinho/{{ latest_question_list.id }}/" method="post">
        {% csrf_token %}
        <span>
            <a href="/produto/{{ latest_question_list.id }}/">{{ latest_question_list.nome }}</a>
            R$ {{ latest_question_list.preco }}
        </span>
        <span class="icon">
            <button class="button"><i class="fa-solid fa-circle-plus"></i></button>
        </span>
    </form>
{% endblock %}