{% extends "base.html" %}

{% block title %}Carinho{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
                    <form action="/remover_carrinho/{{ question.id }}/" method="post">
                        {% csrf_token %}
                        <span>
                            <a href="/produto/{{ question.produto.id }}/">
                                {{ question.produto.nome }}
                            </a>
                             - R$ {{ question.produto.preco }}
                        </span>
                        <span class="icon">
                            <button class="button"><i class="fa-solid fa-trash-can"></i></button>
                        </span>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sem produto para comprar.</p>
    {% endif %}
{% endblock %}